/* Google fonte: */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");

:root {
  --main-header-font: "Roboto Slab", serif;
  --main-text-font: "Playfair Display", serif;
  --main-text-fontsdsd: "Kanit", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 1025px) {
  .form {
    width: 50%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 120px;
    display: none;
  }

  form {
    background-color: #6c939a;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  form input {
    background-color: #faf7f2;
    border-color: #faf7f2;
    font-family: var(--main-textfont);
    width: 40%;
    margin-left: 4%;
    margin-top: 4%;
    padding: 4px;
  }
  .form hr {
    width: 90%;
    margin-top: 20px;
  }

  #vejnavn,
  #mobilnummer,
  #telefonnummer,
  #email,
  #cpr-nr {
    width: 88%;
  }

  #nulstil {
    margin-bottom: 15px;
  }

  #godkend {
    margin-left: 40px;
    background-color: #faf7f2;
    border-color: #faf7f2;
    font-family: var(--main-textfont);
    width: 40%;
    margin-left: 4%;
    margin-top: 4%;
    padding: 4px;
  }

  .form h5 {
    font-family: var(--main-headingfont);
    margin-left: 4%;
    margin-bottom: -10px;
  }

  .header {
    display: none;
  }

  .hero {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/Hero.jpg);
    position: relative;
    display: flex;
    background-size: cover;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .hero-header {
    width: 80vw;
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: var(--main-text-font);
    z-index: 3;
    top: 18vh;
  }

  .cancer {
    width: 80vw;
    height: auto;
    position: absolute;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50vh;
  }

  .cancer img {
    width: 80%;
  }

  .button {
    width: 80vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80vh;
    position: absolute;
  }

  .button button {
    color: white;
    font-family: var(--main-text-font);
    background-color: #18db92;
    padding: 5px 40px;
    font-size: 18px;
    border-color: #18db92;
  }

  .button button:hover {
    color: black;
    border-color: #18db92;
  }

  .nav {
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: #6c939a;
    display: flex;
  }

  .nav img {
    width: 200px;
  }

  .nav ul {
    display: flex;
    list-style: none;
  }
  #firstList {
    width: 20%;
    display: flex;
    align-items: center;
  }

  #secondList {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 25px;
    font-family: var(--main-header-font);
  }
}

.nav ul li:hover {
  color: black;
}

a {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .menu li,
  a {
    color: white;
    list-style: none;
    text-decoration: none;
    font-family: var(--main-header-font);
  }

  .header {
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    border-bottom: 1px solid white;
    background-color: #77a1a8;
    z-index: 1;
  }

  .header ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #77a1a8;
  }

  .header ul a {
    display: block;
    outline: 1px solid #263240;
    outline-style: solid;
    padding: 20px;
  }

  .header ul a:hover {
    color: black;
  }

  .header .logo {
    float: left;
    display: block;
  }

  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  #logo {
    margin-left: 18px;
    width: 100px;
    margin-top: 8px;
  }

  .header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
  }

  .header .menu-icon .nav-icon {
    background-color: white;
    display: block;
    height: 2px;
    top: 0px;
    width: 18px;
    position: relative;
    transition: background 2s ease-out;
  }

  .header .menu-icon .nav-icon:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.2 ease-out;
    top: 10px;
    background: white;
    height: 2px;
  }

  .header .menu-icon .nav-icon:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 5px;
    position: absolute;
    transition: all 0.2 ease-out;
    background: white;

    /* check her */
  }

  .header .menu-button {
    display: none;
  }

  .header .menu-button:checked ~ .menu {
    max-height: 350px;
  }

  .hero {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/Hero.jpg);
    position: relative;
    display: flex;
    background-size: cover;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .hero-header {
    width: 80vw;
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: var(--main-text-font);
    font-size: 8px;
    z-index: 3;
    margin-top: 85vh;
  }

  .cancer {
    width: 80vw;
    height: auto;
    position: absolute;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45vh;
  }

  .cancer img {
    width: 80%;
  }

  .button {
    width: 80vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65vh;
  }

  .button button {
    color: white;
    font-family: var(--main-text-font);
    background-color: #18db92;
    padding: 5px 40px;
    font-size: 18px;
    border-color: #18db92;
  }

  .button button:hover {
    color: black;
    border-color: #18db92;
  }
  .nav {
    display: none;
  }

  .nav ul li img {
    display: none;
  }

  #img {
    display: none;
  }

  .form {
    width: 50%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 120px;
    display: none;
  }

  form {
    background-color: #e8866c;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  form input {
    background-color: #faf7f2;
    border-color: #faf7f2;
    font-family: var(--main-textfont);
    width: 40%;
    margin-left: 4%;
    margin-top: 4%;
    padding: 4px;
  }
  .form hr {
    width: 90%;
    margin-top: 20px;
  }

  #vejnavn,
  #mobilnummer,
  #telefonnummer,
  #email,
  #cpr-nr {
    width: 88%;
  }

  #nulstil {
    margin-bottom: 15px;
  }

  #godkend {
    margin-left: 40px;
  }

  .form h5 {
    font-family: var(--main-headingfont);
    margin-left: 4%;
    margin-bottom: -10px;
  }
}
